img {

width:500px;
padding: 10px;
margin: 20px;
border-radius: 30px;
}


table, th, td{
    border:2px solid whitesmoke;
background-color:darkgray;
color:cornsilk;

}


h2{color:red;}


body{background-color: grey;}

#paragraph1{font-family: 'Zilla Slab Highlight', cursive;;
font-size: larger;

}

#welh1{font-family: 'Zilla Slab Highlight', 'cursive';
color:cornflowerblue;


}

main ul li{font-family:Georgia, 'Times New Roman', Times, serif;
color:darkred;
font-size: large;
font-weight: bold;}
#h3font{font-family:Arial, Helvetica, sans-serif;
color:red;
}

#salescolor{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:crimson;
}

#eventbox{
border: 2px solid ;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif ;
font-weight: bold;
color:whitesmoke;
background-color:black;
}

#eventh1{
color:teal;


}